{% extends 'base.html' %}
	
{% load static %}

{% block title %}{{name}}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/examp.css' %}">
    
    <div class="container">
        <div class="container-inner">
          <div class="main-content">
            <div class="main-headings" id="main-headings-js">
      
            <div class="heading">
              <h3 id="heading2">{{name}}</h3>
            </br>
            </div>
      
            <div class="short-bio">
              <p>{{description}}</p>
              <p>Цена: {{price}}</p>
              <p>Статус: {{status}}</p>
         
            </div>
      
            </div>
            
          </div>
      
          <div class="image-wrapper">
          <div class="image-container">
            <img class="image" src="{% static image %}"> 
          </div>
        </div>
      </div>
      </div>

  {% endblock %}