{% extends 'base.html' %}

{% load static %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
   <div>
      <form action="sendText" method="post">
          {% csrf_token %}
          <input name="name" type="text"><br><br>
          <input type="Submit" value="Перейти" >
      </form>
   </div>
   <div>
      <form action="delExp" method="post">
        {% csrf_token %}
        <input name="name" type="text"><br><br>
        <input type="Submit" value = "Удалить экспертизу" >
      </form>
   </div>
<ul>
    <div class="container">
    {% for order in orders %}
       
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>{{order.id}}</h2>
              <h3>{{order.name}}</h3>
              <p>Интересует? Подробную информацию можно узнать, нажав на кнопку Read More</p>
              <a href="{% url 'order_url' order.id %}">Read More</a>
            </div>
          </div>
        </div>
      
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
    </div>
</ul>
{% endblock %}

